.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.function {
  color: purple-400;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.operator,
.token.pseudo-class,
.token.important {
  color: pink-400;
}

.token.attr-value,
.token.class,
.token.string,
.token.number,
.token.unit,
.token.color {
  color: green-300;
}

.token.punctuation,
.token.module,
.token.property {
  color: blue-200;
}

.token.atapply .token:not(.rule):not(.important) {
  color: inherit;
}

.language-shell .token:not(.comment) {
  color: inherit;
}

.language-css .token.function {
  color: inherit;
}

.token.comment {
  color: gray-400;
}

.token.deleted:not(.prefix) {
  display: block;
  position: relative;
  margin: 0 -1rem 0 1rem;
  padding: 0 1rem 0 1rem;
}

.token.deleted:not(.prefix)::after {
  background: rose-400;
  content: '';
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.token.deleted.prefix {
  color: gray-400;
  user-select: none;
}

.token.inserted:not(.prefix) {
  background: emerald-700;
  display: block;
  margin: 0 -1rem 0 -1rem;
  padding: 0 1rem 0 1rem;
}

.token.inserted.prefix {
  color: emerald-200;
  user-select: none;
}
